@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utility Classes */
.hover:shadow-lg:hover {
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Unnecessary code removed */
input[type="radio"]:checked + label .click_option,
input[type="radio"]:checked + label .selecting,
input[type="radio"]:checked + label {
    border: 2px solid black;
    transform: scale(1.02);
    color: black;
}
